.preview {
    padding: 50px 20px;
    display: flex;
    gap: 30px;
}

.preview__content {
    display: flex;
    width: 100%;
    max-width: 515px;
    padding-top: 50px;
    flex-direction: column;
    gap: 50px;
}

.preview__dots {
    display: flex;
    padding: 6px;
    gap: 12px;
}

.preview__dots>label {
    width: 12px;
    height: 12px;
    border-radius: 100%;
    background: #cdcdcd;
}

.preview__dots>label:hover {
    background: green;
    border-color: #777 !important;
}


/* ARROWS */
.arrows {
    width: 100%;
    max-width: 975px;
    height: 44px;
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    position: absolute;
}

.arrow>label {
    width: 44px;
    height: 44px;
    display: flex;
    border-radius: 50%;
    background: #c2c2c2;
    position: relative;
    cursor: pointer;
}

.arrow-left>label>span {
    position: absolute;
    content: '';
    display: flex;
    width: 15px;
    height: 4px;
    border: none;
    transform: rotate(-40deg);
    top: 16px;
    left: 13px;
    border-radius: 5px;
    background: rgba(0, 0, 0);
}

.arrow-left>label>span::before {
    position: absolute;
    content: '';
    display: flex;
    width: 15px;
    height: 4px;
    bottom: -6px;
    left: -5px;
    transform: rotate(80deg);
    border-radius: 5px;
    border: none;
    background: rgba(0, 0, 0);
}

.arrow-right>label>span {
    position: absolute;
    content: '';
    display: flex;
    width: 15px;
    height: 4px;
    border: none;
    transform: rotate(40deg);
    top: 16px;
    left: 15px;
    border-radius: 5px;
    background: rgba(0, 0, 0);
}

.arrow-right>label>span::before {
    position: absolute;
    content: '';
    display: flex;
    width: 15.5px;
    height: 4px;
    bottom: -6px;
    left: 6px;
    transform: rotate(-260deg);
    border-radius: 5px;
    border: none;
    background: rgba(0, 0, 0);
}



/* SLIDER */
.slider-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: var(--border20);
    overflow: hidden;
    position: relative;
}

.slider {
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: var(--border20);
}

.slider-inner {
    width: 400%;
    display: flex;
    transition: margin-left 0.5s ease;
}

.overflow {
    width: 100%;
    border-radius: var(--border20);
    overflow: hidden;
}

.slide {
    width: 25%;
    float: left;
}

.slide>img {
    width: 100%;
    border-radius: var(--border20);
}

input[type="radio"] {
    display: none;
}

#switch1:checked~.slides .slider-inner {
    margin-left: 0;
}

#switch2:checked~.slides .slider-inner {
    margin-left: -100%;

}

#switch3:checked~.slides .slider-inner {
    margin-left: -200%;

}

#switch4:checked~.slides .slider-inner {
    margin-left: -300%;

}

/* MEDIA */
@media (max-width:1440px) {
    .preview {
        flex-direction: column-reverse;
        padding-top: 20px;
        padding-bottom: 30px;
    }

    .preview__content {
        max-width: 100%;
        text-align: center;
        gap: 20px;
        padding: 0;
    }

    .slider-wrapper {
        width: 100%;
        max-width: 1000px;
        max-height: 539px;
        margin: 0 auto;
    }

    .preview__content_btn,
    .preview__dots {
        margin: 0 auto;
    }
}

@media (max-width:768px) {
    .arrows {
        padding: 10px;
    }

    .arrow>label {
        width: 35px;
        height: 35px;
    }

    .arrow-left>label>span {
        top: 12px;
        left: 8px;
    }

    .arrow-right>label>span {
        top: 11px;
        left: 11px;
    }
}