.services {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 50px 20px;
}

.services__images-wrapper {
    display: flex;
    max-width: 1520px;
    height: 490px;
}

.services__images {
    display: flex;
    gap: 42px;
    width: 100%;
    overflow-y: hidden;
}

.services__img-wrapper {
    position: relative;
    display: block;
    min-width: 270px;
    height: 480px;
    border-radius: var(--border20);
    overflow: hidden;
}

.services__img_shadow {
    display: flex;
    min-width: 270px;
    height: 303px;
    position: absolute;
    bottom: 0;
    border-radius: 0 0 var(--border20) var(--border20);
}

.services__img-wrapper>img {
    min-width: 100%;
    border-radius: var(--border20);
}

.services__img_title {
    position: absolute;
    bottom: 30px;
    left: 30px;
    transition: .5s;
}

.services__img_shadow:hover .services__img_btn {
    opacity: 1;
    visibility: visible;
}

.services__img_shadow:hover .services__img_title {
    bottom: 85px;
}

/* MEDIA */

@media (max-width:1440px) {
    .services {
        padding: 30px 20px;
        gap: 30px;
    }
}

@media (max-width:768px) {
    .services {
        text-align: center;
    }
}