@import url(../reset.css);
@import url(../fonts.css);
@import url(../global.css);
@import url(../colors.css);
@import url(../button.css);
@import url(../header/hdr.css);
@import url(../footer/footer.css);

/* ..>>><<<.. */

.page-title {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.page-title__pointer {
    display: flex;
    gap: 10px;
    align-items: center;
}

/* ..>>><<<.. */

/* PORTFOLIO - SECTION  */
.portfolio-mix {
    display: flex;
    flex-direction: column;
    gap: 30px;

}

.foto-wrapper {
    display: flex;
    width: 100%;
    max-width: 1560px;
    height: 100%;
    max-height: 680px;
    gap: 30px;

}

.left-col1,
.right-col1 {
    display: flex;
    max-width: 100%;
}

.left-col1 {
    position: relative;
    border-radius: var(--border20);
    overflow: hidden;
}

.right-col1 {
    flex-direction: column;
    gap: 30px;
}

.left-col1-shadou,
.rigt__row_shadou {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: var(--border20);
    background: #004e925d;
    visibility: visible;
    opacity: 1;
    transition: .5s;
}

.left-col1__btn,
.right-col1__btn {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 109px;
    height: 109px;
    padding-left: 18px;
    padding-top: 18px;
    opacity: 0;
    visibility: hidden;
    transition-delay: .1s;
    transition: 1s;
}


.left-col1__img,
.right-col1__img {
    width: 100%;
    height: 100%;
    border-radius: var(--border20);
    transition: 1s;

}

.right-col1__row {
    display: flex;
    gap: 30px;
}

.right__row_col1,
.right__row_col2 {
    display: flex;
    position: relative;
    border-radius: var(--border20);
    overflow: hidden;
}

.left-col1:hover .left-col1__img,
.right__row_col1:hover>.right-col1__img,
.right__row_col2:hover>.right-col1__img {
    transform: scale(1.1);
}

.left-col1:hover>.left-col1-shadou,
.right__row_col1:hover>.rigt__row_shadou,
.right__row_col2:hover>.rigt__row_shadou {
    visibility: hidden;
    opacity: 0;
}

.left-col1:hover>.left-col1__btn,
.right__row_col1:hover>.right-col1__btn,
.right__row_col2:hover>.right-col1__btn {
    opacity: 1;
    visibility: visible;
    z-index: 999;
}

.foto-wrapper:nth-child(2),
.foto-wrapper:nth-child(4) {
    flex-direction: row-reverse;
}


/* MEDIA */

@media (max-width:1440px) {

    .left-col1__btn,
    .right-col1__btn {
        width: 80px;
        height: 80px;
    }
}

@media (max-width:1024px) {

    .foto-wrapper {
        gap: 10px;
        overflow: hidden;
        overflow-x: scroll;
    }

    .foto-wrapper:nth-child(2),
    .foto-wrapper:nth-child(4) {
        flex-direction: row;
    }

    .left-col1 {
        min-width: 188.8px;
        min-height: 300px;
    }

    .right-col1 {
        gap: 10px;
        flex-direction: row;
    }

    .right-col1__row {
        gap: 10px;
    }

    .right__row_col1,
    .right__row_col2 {
        min-width: 188.8px;
        min-height: 300px;
    }

    .position1,
    .position2,
    .position3,
    .position4,
    .position1a,
    .position2a,
    .position3a,
    .position4a {
        object-fit: cover;
    }

    .position2 {
        object-position: 100% 0;
    }

    .position3 {
        object-position: 90% 0;
    }

    .position4 {
        object-position: 100% 0;
    }

    .position1a {
        object-position: 30% 0;
    }

    .position2a {
        object-position: 80% 0;
    }

    .position4a {
        object-position: 55% 0;
    }
}


@media (max-width:768px) {

    .left-col1,
    .right__row_col1,
    .right__row_col2 {
        min-width: 280px;
        height: 100%;
    }

}