.gallery {
    display: flex;
    flex-direction: column;
    gap: 50px;

}

.gallery__images-wrapper {
    display: flex;
    max-width: 1520px;
    height: 325px;

}

.gallery__images {
    display: flex;
    gap: 30px;
    width: 100%;
    height: 335px;
    overflow-y: hidden;
}

.gallery__img-wrapper {
    min-width: 280px;
    height: 325px;
    display: block;
    border-radius: var(--border20);
    overflow: hidden;
    position: relative;
}

.gallery-img {
    display: flex;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: .5s;
}

.gallery__img-shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(156, 157, 171, 0.2);
    border-radius: var(--border20);
    transition: .3s;
}

.gallery__search_btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
    opacity: 0;
    transition: .7s;
}

.gallery__img-wrapper:hover .gallery__img-shadow {
    opacity: 0;
}

.gallery__img-wrapper:hover .gallery__search_btn {
    visibility: visible;
    opacity: 1;
    z-index: 1;
}

.gallery__img-wrapper:hover .gallery-img {
    transform: scale(1.2);
}

/* MEDIA */
@media (max-width: 1559.9px) {
    .gallery__images-wrapper {
        height: 335px;
    }
}

@media (max-width:1440px) {
    .gallery {
        padding: 30px 20px;
        gap: 30px;
    }
}

@media (max-width:768px) {
    .gallery {
        text-align: center;
    }
}