 :root {
     /* fonts */
     --font-family: "noto-sans";
     --second-family: "myriad-pro";
     --third-family: "futuris";
     /* colors */
     --base-black: #262d2a;
     --base-white: #ffffff;
     --p-up-menu-txt: #a9aeb9;
     --cd-color: #cdcdcd;
     ;
     /* BORDERS */
     --border10: 10px;
     --border20: 20px;
 }

 body::-webkit-scrollbar {
     display: none;
 }

 .container {
     max-width: 1560px;
     height: auto;
     margin: 0 auto;
     padding: 0 20px;
 }

 button {
     cursor: pointer;
 }